<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>

    <section class="about">
        <div class="about-header">
            <h1 class="py-3">About Us</h1>
            <h1 class="py-3">About ORCUS</h1>
            <p>Welcome to Orcus, where the ordinary becomes extraordinary, and your journey to personal and professional growth begins.</p>
        </div>

        <div class="about-section">
            <h2>Our Story</h2>
            <p>Founded with a vision of a world where audacious goals are attainable realities, Orcus has been on a mission to empower individuals from all walks of life.</p>
        </div>

        <div class="about-section">
            <h2>Our Purpose</h2>
            <p>At Orcus, our purpose is clear: to ignite ambition and self-discovery in each person we touch, helping you uncover your true potential and live a life of purpose and fulfillment.</p>
        </div>

        <div class="about-section">
            <h2>What Sets Us Apart</h2>
            <p>Orcus stands out with our unique approach, offering transformative riddle-solving experiences that stimulate critical thinking and self-reflection.</p>
        </div>

        <div class="about-section">
            <h2>Our Commitment</h2>
            <p>We are committed to your growth and to building a vibrant community of ambitious individuals who support each other on their journey to greatness.</p>
        </div>

        <div class="about-section">
            <h2>Join Us</h2>
            <p>Whether you're seeking clarity, looking to break free from the ordinary, or want to be part of a supportive community, Orcus is here for you. Join us on this exciting adventure of self-discovery, growth, and success.</p>
        </div>
    </section>
<%- include("partials/footer.ejs") %>
</body>
</html>
