<!DOCTYPE html>
<html lang="en">
<head>
    
  <%- include('partials/head.ejs') %>

</head>
<body>
    <img class="bg-img" src="../assets/img/red-black-demon.jpg" alt="">

    <%- include('partials/header.ejs') %>


    <main class="d-flex" style="position: relative;">


        <div class="ques-container mx-auto t-50">
            <div class=""><h1 class="ques">Ques. What You hold most dear is what you really seek.</h1></div>
            <div class="">
                <form action="/submit-answer" method="post">
                    <input class='answer w-75' id="answer" name="answer" type="text" placeholder='Type your answer here...' minlength="3" maxlength="20" /> 
                    <button class="ques-btn" type="submit" > Submit</button>
                </form>
            </div>
        </div>

    </main>

    <footer>

        <%- include('partials/footer.ejs') %>
    </footer>


</body>
</html>