<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Service</title>
</head>
<body>
    
<h1>Orcus Terms of Service</h1>

<h2>Last Updated: 05-09-2023</h2>

<p>
    Welcome to Orcus! These Terms of Service ("Terms") outline the terms and conditions under which you may access and use our services. By accessing or using Orcus, you agree to these Terms. If you do not agree, please do not use our service.
</p>

<h2>1. Age Requirement</h2>

<p>
    1.1 Eligibility: You must be at least 13 years old to use Orcus. By using our service, you confirm that you meet this age requirement.

</p>

<p>
    1.2 Parental Consent: If you are under the age of 18 (a minor), you must have permission from your parent or legal guardian to use Orcus. By using our service, you represent that you have obtained such consent.

</p>

<h2>2. Use of the Service</h2>

<p>
    2.1 Compliance: You agree to comply with all applicable laws and regulations when using Orcus. You may not use our service for any illegal or unauthorized purpose.

</p>
<p>
    2.2 Account: To access certain features of Orcus, you may need to create an account. You are responsible for safeguarding your account credentials and are liable for all activities related to your account.

</p>


<h2>3. User Content</h2>

<p>
    3.1 Your Content: You are solely responsible for any content you submit to Orcus ("User Content"). By submitting User Content, you grant us a worldwide, non-exclusive, royalty-free license to use, display, and distribute it in connection with our service.

</p>

<p>
    3.2 Prohibited Content: You may not upload, post, or transmit any User Content that is offensive, defamatory, illegal, or infringes on the rights of others.

</p>


<h2>4. Intellectual Property</h2>

<p>
4.1 Ownership: Orcus retains all rights, title, and interest in and to the service, including all content and intellectual property rights.

</p>
<p>
    4.2 Copyright: If you believe your copyright has been infringed, please follow our <a href="/copyright">Copyright Infringement Policy</a>.

</p>

<h2>5. Privacy</h2>

<p>
    5.1 Privacy Policy: Your use of Orcus is also governed by our Privacy Policy. By using our service, you consent to the collection, use, and disclosure of your information as described in the Privacy Policy.

</p>


<h2>
    6. Termination
</h2>

<p>
6.1 Termination by Orcus: We reserve the right to suspend or terminate your access to Orcus at our discretion, without notice, if you violate these Terms.

</p>

<h2>7. Changes to these Terms</h2>

<p>
7.1 Updates: We may update these Terms from time to time. Any significant changes will be posted on Orcus.

</p>


<h2>8. Contact Us</h2>

<p>
    If you have questions or concerns about these Terms or our service, please contact us at <em>weorcus@gmail.com</em>.

</p>

</body>
</html>